/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.cf::after {
    content:"";
    display: table;
    clear: both;
}

section {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.button {
    padding: 12px 17px;
    border-radius: 30px;
    color: black;
    background-color: white;
}
 

/* header */
header {
    height: 66vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}

#header-top {
    padding-top: 20px;
}

#logo-header {
    float: left;
}

 header nav {
    float: left;
    margin: 0 195px;
}

header ul {
    line-height: 28px; 
}

header li {
    display: inline-block;
}

header nav ul li a {
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
    color: white;
}

#login {
    float: right;
}

#login a {
    line-height: 28px;
    font-size: 18px;
    font-weight: bold;
}

 #header-bottom {
    float: left;
    margin: 60px 0px 0px 297px;
}

header h1 {
    font-size: 66px;
}



header p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
    text-align: center;
    width: 66%;
}

#header-buttons{
    margin: 41px 0px 0px 70px;
}

#header-buttons .button {
    font-size: 24px;
    margin: 0 10px;
}

.button-broswer-app-link {
    color: white;
    background-color: #23272A;
}

.fa-long-arrow-alt-down {
    margin-right: 10px;
} 



/* main */
main section {
    height: 66vh;
    border: 1px solid black;
}


#img-sezione1 {
    float: left;
    margin-top: 100px;
}

#text-sezione1 {
    float: right;
    width: 22%;
    margin-top: 130px;
}

.titolo-sezioni {
    font-size: 40px;
}

.text-sezioni {
    line-height: 24px;
    margin-top: 20px;
}

#text-sezione2 {
    float: left;
    width: 22%;
    margin-top: 130px;
}

#img-sezione2 {
    float: right;
    margin-top: 100px;
}



/* footer */
footer {
    /* debug */
    background-color: yellow;
    height: 200px;
}
